<script type="text/javascript">
    $(document).ready(function () {
        var themes = {{.Themes }};
        for (theme of themes) {
            for (reserve of theme.Reserves) {
                reserve.TimeRange.From = moc.formatTimeRange(reserve.TimeRange.From)
                reserve.TimeRange.To = moc.formatTimeRange(reserve.TimeRange.To)
                if (reserve.Reserve) {
                    reserve.Reserve.BeginTime = moc.formatTime(reserve.Reserve.BeginTime)
                }
            }
        }

        var workbench = new Vue({
            delimiters: ['${', '}'],
            el: "#dashboard-workbench",
            data: {
                themes: themes,
                reserveForm: {
                    id: -1,
                    themeId: -1,
                    teamName: "路人小队",
                    beginTime: moment().format("YYYY-MM-DD HH:mm:ss"),
                    memberCount: "",
                    phoneNumber: "",
                    newFlag: true,
                    showFlag: false,
                    payType: "未支付",
                    payPrice: 0.0
                },
                info: {
                    showFlag: false,
                    content: ""
                },
                showReservePayFlag: false
            },
            methods: {
                submitReserveForm: function (event) {
                    moc.toggleLoading(true)
                    if (this.reserveForm.newFlag) {
                        $.post("/reserve/themes", $(event.target).serialize(), function (data, status) {
                            $.get("/dashboard/workbench", function (data, status) {
                                $("#main-content").html(data);
                                moc.toggleLoading(false)
                            })
                        })
                    } else {
                        $.post("/reserve/theme/" + this.reserveForm.id + "/update", $(event.target).serialize(), function (data, status) {
                            $.get("/dashboard/workbench", function (data, status) {
                                $("#main-content").html(data);
                                moc.toggleLoading(false)
                            })
                        });
                    }
                },
                newReserve: function (event) {
                    this.reserveForm.showFlag = true
                    this.reserveForm.id = -1

                    var themeId = event.target.parentNode.parentNode.parentNode.parentNode.attributes["theme-id"].nodeValue
                    for (theme of this.themes) {
                        if (themeId == theme.Theme.Id) {
                            this.reserveForm.themeId = themeId
                        }
                    }
                    this.reserveForm.teamName = "路人小队"
                    var beginTime = event.target.attributes["time"].nodeValue
                    this.reserveForm.beginTime = moment().format("YYYY-MM-DD ") + beginTime + ":00"
                    this.reserveForm.memberCount = ""
                    this.reserveForm.phoneNumber = ""
                    this.reserveForm.newFlag = true;
                },
                editReserve: function (event) {
                    var reserveThemeId = event.target.parentNode.parentNode.attributes["reserve-theme-id"].nodeValue
                    this.reserveForm.showFlag = true;
                    OUTER:
                    for (theme of this.themes) {
                        for (reserve of theme.Reserves) {
                            if (reserve.Reserve.Id == reserveThemeId) {
                                this.reserveForm.id = reserve.Reserve.Id
                                this.reserveForm.themeId = reserve.Reserve.Theme.Id
                                this.reserveForm.teamName = reserve.Reserve.TeamName
                                this.reserveForm.beginTime = reserve.Reserve.BeginTime
                                this.reserveForm.memberCount = reserve.Reserve.MemberCount
                                this.reserveForm.phoneNumber = reserve.Reserve.PhoneNumber
                                this.reserveForm.payType = reserve.Reserve.PayType
                                this.reserveForm.payPrice = reserve.Reserve.PayPrice
                                this.reserveForm.newFlag = false
                                break OUTER
                            }
                        }
                    }
                },
                deleteReserve: function (event) {
                    moc.toggleLoading(true)
                    var reserveThemeId = event.target.parentNode.parentNode.attributes["reserve-theme-id"].nodeValue
                    $.get("/reserve/theme/" + reserveThemeId + "/delete", function (data, status) {
                        $.get("/dashboard/workbench", function (data, status) {
                            $("#main-content").html(data);
                            moc.toggleLoading(false)
                        })
                    })
                },
                closeReserve: function (event) {
                    this.reserveForm.showFlag = false
                },

                //Record function
                tipRecord: function (event) {
                    moc.toggleLoading(true)
                    var recordThemeId = event.target.attributes["record-theme-id"].nodeValue
                    $.get("record/theme/" + recordThemeId + "/tip", function (data, status) {
                        $.get("/dashboard/workbench", function (data, status) {
                            $("#main-content").html(data);
                            moc.toggleLoading(false)
                        })
                    })
                },
                showThemeTip: function (event) {
                    var desc = event.target.attributes["desc"].nodeValue
                    this.info.showFlag = true;
                    this.info.content = desc;
                },
                closeInfo: function (event) {
                    this.info.showFlag = false;
                    this.info.content = "";
                },
            }
        });
    });

</script>

<div class="dashboard-workbench" id="dashboard-workbench">
    <div class="dashboard-history-theme" v-for="theme of themes" v-bind:theme-id="theme.Theme.Id" v-bind:class="{blur:reserveForm.showFlag}">
        <div class="dashboard-history-theme-desc">
            <h3>${ theme.Theme.Title }</h3>
            <table>
                <tr>
                    <th>最小人数:</th>
                    <td>${ theme.Theme.MinMember }</td>
                </tr>
                <tr>
                    <th>最大人数:</th>
                    <td>${ theme.Theme.MaxMember }</td>
                </tr>
                <tr>
                    <button v-for="tip of theme.Theme.Tips" v-on:click="showThemeTip" class="btn btn-sm btn-warning pointer" v-bind:desc="tip.Desc">${ tip.Stage }</button>
                </tr>
            </table>
        </div>

        <div class="dashboard-history-theme-reserves-container">
            <div class="dashboard-history-theme-reserves" v-for="reserve of theme.Reserves">
                <div v-bind:class="{reserveNothing:!reserve.Reserve , reserveWaiting : reserve.Reserve&&reserve.Reserve.Status==0 , reserveStarted : reserve.Reserve&&reserve.Reserve.Status==1}">
                    <div class="dashboard-history-theme-timerange">${ reserve.TimeRange.From } - ${ reserve.TimeRange.To}</div>
                    <button v-if="!reserve.Reserve" v-on:click="newReserve" v-bind:time="reserve.TimeRange.From" class="btn btn-sm btn-outline-success dashboard-history-reserve-form-toggle pointer">+</button>
                    <div v-if="reserve.Reserve" v-bind:reserve-theme-id="reserve.Reserve.Id">
                        <h3 v-if="reserve.Reserve.Status == 0" class="dashboard-history-theme-reserve-title">预约中
                            <button v-on:click="editReserve" class="btn btn-sm btn-outline-info pointer">E</button>
                            <button v-on:click="deleteReserve" class="btn btn-sm btn-outline-danger pointer">X</button>
                        </h3>
                        <h3 v-if="reserve.Reserve.Status == 1" class="dashboard-history-theme-reserve-title">预约记录</h3>
                        <table>
                            <tr>
                                <th>小队名称:</td>
                                    <td>${ reserve.Reserve.TeamName }</td>
                            </tr>
                            <tr>
                                <th>游玩人数:</td>
                                    <td>${ reserve.Reserve.MemberCount }</td>
                            </tr>
                            <tr>
                                <th>联系电话:</td>
                                    <td>${ reserve.Reserve.PhoneNumber }</td>
                            </tr>
                            <tr>
                                <th>支付方式:</td>
                                    <td>${ reserve.Reserve.PayType }</td>
                            </tr>
                            <tr>
                                <th>支付总价:</td>
                                    <td>${ reserve.Reserve.PayPrice }</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <form class="dashboard-history-theme-reserve-form" v-on:submit.prevent="submitReserveForm" v-if="reserveForm.showFlag">
        <span class="btn btn-sm btn-outline-danger pointer" v-on:click="closeReserve">X</span>
        <div class="form-group">
            <label>密室主题 : </label>
            <select name="theme_id" class="form-control" v-model="reserveForm.themeId">
                        <option v-for="theme of themes" v-bind:value="theme.Theme.Id">${ theme.Theme.Title }</option>
                    </select>
        </div>
        <div class="form-group">
            <label>小队名称 : </label>
            <input class="form-control" type="text" name="team_name" v-model="reserveForm.teamName" />
        </div>
        <div class="form-group">
            <label>预约时间 : </label>
            <input type='text' class="form-control" name="begin_time" v-model="reserveForm.beginTime" />
        </div>

        <div class="form-group">
            <label>游玩人数 : </label>
            <input class="form-control" type="text" name="member_count" v-model="reserveForm.memberCount" />
        </div>
        <div class="form-group">
            <label>联系电话 : </label>
            <input class="form-control" type="text" name="phone_number" v-model="reserveForm.phoneNumber" />
        </div>
        <div>
            <div class="form-group">
                <label>支付方式:</label>
                <select class="form-control" name="pay_type">
                    <option value="未支付">未支付</option>
                    <option value="支付宝">支付宝</option>
                    <option value="微信">微信</option>
                </select>
            </div>
        </div>
        <div>
            <div class="form-group">
                <label>支付总价:</label>
                <input class="form-control" type="text" name="pay_price" />
            </div>
        </div>

        <input type="submit" class="btn btn-primary pointer" value="new" v-if="reserveForm.newFlag" />
        <input type="submit" class="btn btn-primary pointer" value="change" v-else/>
    </form>

    <div class="dashboard-history-info" v-if="info.showFlag">
        <div>
            <button v-on:click="closeInfo" class="btn btn-sm btn-outline-danger pointer">X</button>
        </div>
        ${ info.content }
    </div>
</div>