<script type="text/javascript">
    var themes = {{.Themes}}
</script>
<div class="dashboard-workbench">
    <div class="dashboard-workbench-theme">
        <div class="dashboard-workbench-theme-desc"></div>
        <div class="dashboard-workbench-theme-current">
            <div class="dashboard-workbench-theme-reserved-desc"></div>
        </div>
        <div class="dashboard-workbench-theme-reserved">
            <div class="dashboard-workbench-theme-reserved-desc"></div>
        </div>
        <div class="dashboard-workbench-theme-reserved">
            <div class="dashboard-workbench-theme-reserved-desc"></div>
        </div>
    </div>
</div>