<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="cache-control" content="no-store">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <title>MOC Park System</title>
    <!-- css files -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
        crossorigin="anonymous">

    <!-- user css files -->
    <link rel="stylesheet" href="/static/css/main.css">
    <!--<link rel="stylesheet" href="../static/css/dashboard/workbench.css">-->

    <!-- js files -->
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://unpkg.com/vue@2.3.2/dist/vue.js"></script>

    <!-- user js files -->
    <!--<script src="/static/js/moc.js"></script>-->

    <script type="text/javascript">
        $(document).ready(function () {
            var rank = new Vue({
                delimiters: ['${', '}'],
                el: "#theme-rank",
                data: {
                    ranks: {{.Rank }},
                    theme: {{.Theme}}
                },
                filters: {
                    formatTime : function(value){
                        var time = moment(value)
                        return time.years() + "-" + time.months() + "-" + time.days();
                    }
                }
            })
        });
    </script>
</head>

<body>
    <!-- <img class="main-background" id="main-background" src="/static/img/chat-room-background.png"></img> -->
    <div class="main-header" id="main-header">
        <!-- <div class="main-header-logo"></div> -->
        <h1>MOC Park Dashboard</h1>

        <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">MOC</a>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/dashboard/workbench">Workbench</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/theme/1/rank">Rank</a>
                    </li>
                </ul>
            </div>
        </nav>

    </div>
    <div class="main-content" id="main-content">
        <div id="theme-rank">
            <h2 style="text-align:center">${ theme.Title }</h2>
            <table class="table">
                <tr>
                    <th>名次</th>
                    <td>小队名称</td>
                    <td>用时（秒）</td>
                    <td>游玩时间</td>
                </tr>
                <tr v-for="(r,index) of ranks" v-bind:class="{active : index == 0 , info : index == 1 , warning : index == 2}">
                    <th>${ index + 1 }</th>
                    <td>${ r.Reserve.TeamName }</td>
                    <td>${ r.TimeUsed }</td>
                    <td>${ r.BeginTime | formatTime }</td>
                </tr>
            </table>
        </div>
    </div>
    <div id="main-footer"></div>
</body>

</html>